body {
    text-align: center;
}

#gamescreen {
    background-color:yellow;
    margin: 0 20% 0 20%;
    height: 800px;
}

#board {
    background-color: teal;
    width: 600px;
    height: 600px;
    margin-left: 33%;
    margin: 0 auto;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    width: 50%;
    height: 50%;
    margin-top: ;

  }

  .grid-item {
    background-color:skyblue;
    border: 1px solid snow;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
  }

  .tiktacsquare {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    border: 0;
    outline:none;
  }

  .p1mark {
      background-color: slateblue;
  }

  .p2mark {
      background-color:whitesmoke;
  }