#popup {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: cornsilk;
    text-align: left;
    top: 25%;
    left: 25%;
    border-color: black;
    border-style: solid;
}

.transparent {
    visibility: hidden;
}

#popupx {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: cornflowerblue;
}

.book {
    height: 70px;
    width: 500px;
    background-color: gainsboro;
    display: inline-block;
    overflow: hidden;
    border: thick solid silver;
    margin: 5px;
}


.bookDetails {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
    font-family: monospace;
}

.bookHasRead {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

#hasread {
    margin-top: 8px;
}

#totalBooksCounter {
    position: relative;
    
}

p {
    margin: 5px;
}

#bookdisplay p {
    width: 75%;
    margin: 3px;
}

.column {
    float: left;
}

.column.left {
    width: 75%;
}

.column.right {
    width: 25%;
}